:host{
    --columns: 1fr;
}


.wrapper {
    display: grid;
    gap: 5px;
    grid-template-columns: var(--columns) ;
}

.card {
    width: 300px;
}

.card-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}