<section class="container">
    <h3 class="title">Nuevos animes</h3>

    <div class="content-display">
        <div class="content">
            <p class="new-item"></p>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
        <div class="content">
            <div class="new-item"></div>
        </div>
    </div>
</section>