.card {
    height: 100%;
    overflow: hidden;
    position: relative;
}

 .div {
    position: relative;
    min-height: 300px;
    height: 100%;
    transition: .5s;
 }
.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(1);
    transition: .5s;
}

.card-title {
    position: absolute;
    display: flex ;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: .5s;
    font-size: 1.3em;
}

.card-title .fav {
    background: none;
    border: none;
}

.card:hover .card-title {
    transform: translateY(-10%);
}

.card:hover .card-img {
    filter: brightness(.5);
    transform: scale(1.3);
}

@media screen and (min-width: 1024px) {
    .div {
        min-height: 400px;
    }
}